<!-- Sidebar -->
<nav id="sidebar" class="navbar d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                <a href="{{ .URL }}" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                    {{ if .Pre }}
                    {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                    {{ $icon }}
                    {{ end }}
                    {{ $text := print .Name | safeHTML }}
                    {{ $text }}
                </a>
            {{ end }}
        </div>
        <p class="footer text-center text-muted bottom">&copy; {{ now.Format "2006"}} Ross Knapman</p>
    </div>
</nav>