{{ define "main" }}

<div class="jumbotron jumbotron-fluid">
    <h2 class="display-6">About Me</h2>
    <hr class="my-4">
    <p>I am currently a postdoctoral researcher with the <a href="https://www.uni-due.de/physik/twist/">TWIST Group</a> at the University of Duisburg-Essen, working, primarily investigating magnetic textures using numerical modelling. I was previously a PhD student at the Johannes Gutenberg University Mainz.</p>
    <p>You can read my thesis <a href="http://doi.org/10.25358/openscience-10397">here</a> and my CV <a href="/download/CV.pdf">here</a>.</p>
</div>


<div class="jumbotron jumbotron-fluid"></div>
    <h2 class="display-6">Blog</h2>
    <hr class="my-4">
    {{ range ( where .Site.RegularPages "Type" "posts" | first 5 ) }}
        <p>
            <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            {{ .Summary }}
        </p>
    {{ end }}
{{ end }}